@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode */

html:not(.dark) {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* htmx transitions */

:root {
	--page-transition-duration: 500ms;
}

body {
  overflow-x: hidden;
}

#page {
  view-transition-name: page;
}

::view-transition-group(page) {
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease;
}

html[data-nav-direction="ltr"]::view-transition-old(page) {
  animation-name: page-slide-out-right;
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease;
  animation-fill-mode: both;
}

html[data-nav-direction="ltr"]::view-transition-new(page) {
  animation-name: page-slide-in-left;
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease;
  animation-fill-mode: both;
}

html[data-nav-direction="rtl"]::view-transition-old(page) {
  animation-name: page-slide-out-left;
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease;
  animation-fill-mode: both;
}

html[data-nav-direction="rtl"]::view-transition-new(page) {
  animation-name: page-slide-in-right;
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes page-slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes page-slide-in-left {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes page-slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes page-slide-in-right {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

