{{ define "main" }}
	<article class="sticky w-full h-full font-mono flex flex-col justify-center items-center">
		<header class="flex text-[12rem] items-center">
			<h1>4</h1>
			<i class="h-[9rem] w-[9rem] mb-5 -mx-1" data-feather="alert-circle"></i>
			<h1>4</h1>
		</header>
		<section>
			<h1 class="text-3xl"> page not found </h1>
		</section>
		<a href="/" class="flex items-center gap-1 mt-[5rem]">
			<span>back to home</span>
			<i data-feather="arrow-right"></i>
		</a>
	<article>
{{ end }}
