{{ define "main" }}
  {{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
  <article
    class="{{ if not .Site.Params.homepage.showRecent }}
      h-full
    {{ end }} flex flex-col items-center justify-center text-center">
    <header class="flex w-full flex-grow items-center justify-around">
      <h1 class="m-0 text-4xl font-extrabold">
        {{ .Site.Params.Author.name | default .Site.Title }}
      </h1>
      <h2 class="m-0 text-xl text-neutral-500 dark:text-neutral-400">
        {{ .Site.Params.Author.headline | markdownify }}
      </h2>
    </header>
    <section class="prose dark:prose-invert w-full">{{ .Content }}</section>
  </article>
{{ end }}
