{{ define "main" }}
  {{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
	<div class="flex font-mono w-full h-full items-center overflow-hidden">
    <div class="flex flex-col justify-center items-center text-center w-full max-w-[25%]">
      <h1 class="m-0 text-4xl font-medium">
        {{ .Site.Params.Author.name | default .Site.Title }}
      </h1>
			<h2 class="m-0 text-neutral-500 dark:text-neutral-400 w-full">
				{{ .Site.Params.Author.bio | markdownify }}
			</h2>
			<div class="m-0 text-neutral-500 dark:text-neutral-400 flex items-center justify-center gap-x-5">
				{{ range .Site.Params.Author.links }}
					<a href="{{ .link }}">
						<i alt="{{ .name }}" data-feather="{{ .icon }}"></i>
					</a>
				{{ end }}
				<script>
					feather.replace()
				</script>
			</div>
    </div>
		<div class="w-full h-full">
			{{ partial "boids.html" . }}
		</div>
	</div>
{{ end }}
